<div th:fragment="topSection" xmlns:th="http://www.thymeleaf.org">

    <div id="systemMessage" class="alert alert-danger hidden" role="alert">
        <span>
        ⚠️ Your system does not meet the minimum requirements to run this application efficiently. Some features may not work properly.
        <a href="#" id="systemDetailsLink" data-bs-toggle="modal" data-bs-target="#systemDetailsModal">
            Click here for more details
        </a>.
    </span>
    </div>

    <div id="mediaDevicesMessage" class="alert alert-dismissible d-none" role="alert">
    </div>

    <div id="promptMessage" class="alert alert-dismissible fade show d-none" role="alert">
    </div>

    <!-- System Details Modal -->
    <div class="modal fade" id="systemDetailsModal" tabindex="-1" aria-labelledby="systemDetailsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="systemDetailsModalLabel">System Requirements Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="systemDetailsContent">
                    <!-- Dynamic content will go here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/system-requirements.js}" type="module"></script>
    <script type="module">
        import {checkSystemRequirements} from '/js/system-requirements.js';

        document.addEventListener('DOMContentLoaded', () => {
            if (document.getElementById('slowSystem')) {
                checkSystemRequirements();
            }
        });
    </script>

</div>